<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>meal has been successfully created</h2>
        <p>check to see meal created</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>